.Users {
  width: 100%;
  padding: 75px;
  box-sizing: border-box;
}

.Users-Header {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Users-Title h1 {
  margin: 0;
  font-weight: normal;
}

.Users-Divider {
  height: 0px;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  width: 60%;
  margin: 0 10px;
}

.Users-Search {
  min-width: 170px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 7px;
}

.Users-Search-Input {
  width: 90%;
  border: none;
  outline: none;
}

.Users-Search-Icon {
  padding: 0 10px;
  color: #999999;
}

.Users-Table {
  overflow: auto;
}

.Users-Table table {
  width: 100%;
  text-align: left;
}

.Users-Table-Head {
  padding: 20px 10px;
}
