body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Primary {
  color: #3ac5a9;
}

.Background-Primary {
  background: #3ac5a9;
}

.Border-Primary {
  border: 1px solid #3ac5a9;
}

.Border-Primary-Input {
  border: 1px solid #e3e3e3;
}

.Border-Primary-Input:focus, .Border-Primary-Input:hover {
  border-color: #3ac5a9;
}

.Border-Primary-Options {
  border: 1px solid #e3e3e3;
}

.Border-Primary-Options:hover {
  border-color: #3ac5a9;
}
