.Registration {
    padding: 75px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.Registration-Header {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Registration-Title h1 {
  margin: 0;
  font-size: 2.4em;
  font-weight: normal;
}
  
.Registration-Divider {
  height: 0px;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  margin-left: 10px;
  width: 85%;
}

.Registration-Form-Divider {
  height: 0px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0;
}

.Registration-Form {
  margin: 30px 0;
}

.Registration-Container > div {
  width: 100%;
}

.Registration-Actions {
  text-align: left;
}

.Registration-Actions button {
  padding: 10px 22px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.Registration-Actions .Save {
  color: #ffffff;
}

.Registration-Actions .Discard {
  color: #777777;
  background: #e3e3e3;
}

@media (min-width: 769px) {
  .Registration-Form {
    margin: 30px 75px;
  }

  .Registration-Form-Divider {
    margin: 0 75px;
  }
}

@media (min-width: 1080px) {
  .Registration-Container {
    display: flex;
  }
}